<%= javascript_include_tag "application" %>
<%= yield :js %>
<div class="overlay">
    <div class="progressbar">
        <div class="meter"></div>
    </div>
	<div class="spinner">
	  <div class="dot1"></div>
	  <div class="dot2"></div>
	</div>
</div>
</body>
</html>
