<h1 class="text-center">Editing role</h1>

<%= render 'form' %>

<div class="button-center">
	<%= link_to 'Show', @role, :class => "button tiny" %>
	<%= link_to 'Back', roles_path, :class => "button tiny" %>
</div>
