<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="table">
	<tr>
		<td>Role: </td>
		<td><%= @role.name %></td>
	</tr>
	<tr>
		<td>Has Following Persons</td>
		<td>
			<ul class="no-bullet">
				<% @role.people.each do |benefit| %>
				<li><%=	benefit.name %></li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
