<li>
	<%= link_to benefit_incidents_pending_path do %>
	<%= (content_tag(:i, '', :class => '')) %>
	All Pending
	<% end %>
</li>
<li>
	<%= link_to benefit_incidents_granted_path do %>
	<%= (content_tag(:i, '', :class => '')) %>
	All Granted
	<% end %>
</li>
