<% if params[:action] == "show" %>
	<li>
		<%= link_to edit_benefit_incident_path(@benefit_incident) do %>
		<%= (content_tag(:i, '', :class => 'icon-pencil')) %>
		Edit Benefit Incident
		<% end %>
	</li>
<% end %>
