<div id="side" style="width: 100px; position:fixed; top: 0px; bottom: 0px; left:0px; background-color: #333333; z-index: 999; margin-top: 45px; z-index: 1;">
	<ul class="no-bullet" id="side-nav" style="text-align: center;">
		<li style="padding: 15px 0; margin: 15px 0;"><%= link_to 'Beneficiary Overview', people_path, :style => "color: #fff; padding: 15px 0" %></li>
		<li style="padding: 15px 0; margin: 15px 0;"><%= link_to 'Supporters Overview', supporters_path, :style => "color: #fff; padding: 15px 0" %></li>
		<li style="padding: 15px 0; margin: 15px 0;"><%= link_to 'Staff/User Overview', users_path, :style => "color: #fff; padding: 15px 0" %></li>
	</ul>
</div>