<div id="side">
	<ul class="no-bullet" id="side-nav">
		<li><%= link_to 'Beneficiary Overview', people_path %></li>
		<li><%= link_to 'Supporters Overview', supporters_path %></li>
		<li><%= link_to 'Staff/User Overview', users_path %></li>
		<li><%= link_to 'Programs Overview', programs_path %></li>
	</ul>
</div>