<div class="row">
<%= select_tag "count", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe, :style => "width: 100px; float:left;", :disabled => "disabled"  %>
<a href='#' id="calculatebtn" class="custom-postfix-class button" style="width: 150px; float:left;" disabled="disabled">Create Report</a>
</div>
