<%= form_for :profile_people_path, method: :get do |f| %>
<%= f.select :type, [], :style => "width: 100px; float:left; margin-bottom: 10px;", :disabled => "disabled"  %>
<a href='#' id="calculatebtn" class="custom-postfix-class button secondary" style="width: 150px; float:left; margin-bottom: 10px;" disabled="disabled">Create Report</a>
<% end %>