<% if params[:action] == "index" %>
<li>
	<%= link_to new_supporter_path do %>
	<%= (content_tag(:i, '', :class => 'icon-pencil')) %>
	New Supporter
	<% end %>
</li>
<% end %>
<% if params[:action] == "show" %>
	<li>
		<%= link_to  edit_supporter_path(@supporter) do %>
		<%= (content_tag(:i, '', :class => 'icon-pencil')) %>
		Edit Supporter
		<% end %>
	</li>
<% end %>
