<h1 class="text-center">Edit Incident</h1>


<%= render 'form' %>

<div class="button-center">
	<%= link_to 'Show', @benefit_incident, :class => "button tiny" %>
	<%= link_to 'Back', benefit_incidents_path, :class => "button tiny" %>
</div>
