<h1 class="text-center">New Incident</h1>

<%= render 'form' %>

<div class="button-center">
	<%= link_to 'Back', benefit_incidents_list_path(@benefit_incident.person_id), :class => "button tiny" %>
</div>