<div id="content">
	<div class="row">
		<% if @benefit_incident.errors.any? %>
		<div id="error_explanation" class="small-12">
			<h2><%= pluralize(@benefit_incident.errors.count, "error") %> prohibited this benefit_incident from being saved:</h2>

			<ul>
				<% @benefit_incident.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
			<div class="small-12 medium-6 column medium-centered">
				<% if !@benefit_incident.person.programs.empty?%>
					<%= render 'form' %>
				<% else %>
					<h2>&nbsp;</h2>
					<h4 class="text-center">Please add person to a program</h4>
				<% end %>
			</div>
			<div class="text-center">
				<%= link_to 'Cancel', person_path(@benefit_incident.person_id), :class => "button tiny" %>
			</div>
		</div>
	</div>
</div>