<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table class="table">
	<tr>
		<td>Program Name:</td>
		<td><%= @program.name %></td>
	</tr>
	<tr>
		<td>Description:</td>
		<td><%= @program.description %></td>
	</tr>
	<tr>
		<td>Has Following Benefits</td>
		<td>
			<ul class="no-bullet">
				<% @program.benefits.each do |benefit| %>
				<li><%=	benefit.name %></li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
