<% @family.people.each do |people| %>
	<p><%= people.name %></p>
	<%#= debug people %>
	<%= link_to "delete", delete_family_relation_path(id: people.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
