<%= content_for :js do %><%= javascript_include_tag "families_new.js" %> <% end %>
<p class="text-center">
<% @family.people.each do |people| %>
	<div><%= people.name %> <%= link_to "delete", delete_family_relation_path(id: people.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "button tiny" %></div>
<% end %>
</p>

<div class="medium-6 columns">
		<h5>Search for Beneficiaries</h5>
		<div id="search_results">
			<form action="" id="searchExistingPeopleForm">
				<div id="searchExistingPeople" class="content">
					<div class="row">
						<div class="small-12 medium-4 column">Name</div>
						<div class="small-12 medium-8 column"><input id="sName" type="text"></div>
						<div class="small-12 medium-4 column">Fathers Name</div>
						<div class="small-12 medium-8 column"><input type="text" id="sFname"/></div>
						<div class="small-12 medium-4 column">City</div>
						<div class="small-12 medium-8 column"><input id="sCity" type="text"/></div>
						<div class="small-12 medium-4 column">Zipcode</div>
						<div class="small-12 medium-8 column"><input id="sZipcode" type="text"/></div>
					</div>
					<button type="submit">Search</button>
				</div>
			</form>
		</div>
		<div id="search_results">
			<table>
				<thead> 
					<tr>
						<th>Id</th> <th>Name</th> <th>Fathers Name</th> <th>City</th> <th>Zipcode</th> <th></th> 
					</tr>
				</thead>
				<tbody id="searchResult">
				</tbody>
			</table>
		</div>
	</div>
	<div class="medium-6 columns">
		<h5>Family Members Added</h5>
		<div id="people"></div>
		<ul id="familyList">
		</ul>
		<input id="submitFamily" class="button" name="commit" type="submit" value="Submit Family">
	</div>