<%= render '/shared/overview_sidebar' %>
<div id="content">
	<h1 class="text-center">Families</h1>
	<table id="familiesIndexTable" class="table tablesorter">
		<thead>
			<tr>
				<th>Name</th>
				<th>Head of the Household</th>
				<th>Family Member</th>
			</tr>
		</thead>

		<tbody>
			<% @families.each_with_index do |family,key| %>
			<tr>
				<td><%= family.name %></td>
				<td><%= @heads[key].name %></td>
				<td><% family.people.each do |people| %>
					<%= people.name %> <br>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>