<%= content_for :js do %><%= javascript_include_tag "families_new" %> <% end %>
<h2 class="text-center">Family</h2>
<div class="row">
	<div class="small-10 medium-10 large-10 columns">
		<div id="people"></div>
	</div>
	<div class="small-12 medium-2 large-2 columns">
		<strong>Search for Exsisting People</strong>
		<p>Name</p>
		<input id="sName" type="text">
		<p>Fathers Name</p>
		<input id="sFname" type="text"> 
		<p>City</p>
		<input id="sCity" type="text"> 
		<p>Zipcode</p>
		<input id="sZipcode" type="text">

		<button id="search">Search</button>
		
		<ul id="familyList">
		</ul>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-12 large-12 button-center">
		<div class="button" id="addpeople"> Add People </div>
		<div class="actions">
			<input id="submitFamily" class="button" name="commit" type="submit" value="Submit Family">
		</div>
	</div>
</div>
