<%= content_for :js do %><%= javascript_include_tag "families" %> <% end %>
<h2>Family</h2>
<div class="btn btn-primary" id="addpeople"> Add People </div>

<div id="people">
	
</div>

<div class="actions">
	<input id="submitFamily" class="btn btn-primary" name="commit" type="submit" value="Submit Family">
</div>