<%= content_for :js do %><%= javascript_include_tag "families" %> <% end %>

<h2>Family</h2>
	<div id="addpeople"> Add People </div>

	<div id="people">
		
	</div>
	<div class="actions">
		<input class="btn btn-primary" name="commit" type="submit" value="Create Family">
	</div>