<%= content_for :js do %><%= javascript_include_tag "families_new.js" %> <% end %>

<h2>Create new Family</h2>
<div class="row">
	<%= render "form" %>
</div>

<script type="text/javascript">
$(function () {
	$("#buttonHide").hide();
})
</script>