<% @person.journals.order(created_at: :desc).each do |journal| %>
	<% if !journal.created_at.nil? %>
		<h6>
			<span style="margin-right: 10px; float: left; color: #e67e22;">
				<%= link_to (content_tag(:i, '', :class => 'icon-trash')), person_journal_path(journal.person_id, journal.id), method: :delete, data: { confirm: 'Are you sure you want to delete this journal entry?' }, :style => "color: #e67e22;" %>
			</span><%= l journal.created_at.to_datetime %>
		</h6>
		<%= simple_format(journal.text) %>
	<% end %>
<% end %>

