<h5>Add a Journal Entry:</h5>
<%= render 'journals/form'%>
<%= render 'journals/list'%>
<script>
$("#journalForm").validate(
{
	rules: {
		'journal[text]': {required: true, minlength: 1}
	}
}
);
</script>