<h5>Narrative Text</h5>

<p style="text-align: justify; padding-right: 10px;">
	<% if @person.narrative_text? %>
	<%= @person.narrative_text%>
	<% else %>
	none
	<% end%>
</p>

<%= link_to edit_person_path(@person)+"/#narText", :class => "button" do %>
<%= (content_tag(:i, '', :class => ' icon-pencil')) %>
Edit Narrative Text 
<% end %>