					<h5>School Information</h5>
					<table class="small-12">
						<tbody>
							<tr>
								<td class="medium-2">Language</td>
								<td class="medium-10"><%= @person.school_language %></td>
							</tr>
							<tr>
								<td>Remark</td>
								<td><%= @person.school_type %></td>
							</tr>
							<tr>
								<td>Class</td>
								<td><%= @person.school_class %></td>
							</tr>

						</tbody>
					</table>