<%= render '/shared/overview_sidebar' %>
<div id="content">
<h1>Editing Beneficiary</h1>

<%= render 'form' %>
<div class="button-center">
	<%= link_to 'Cancel', @person, :class => "button tiny" %>
</div>
</div>