<%= render '/shared/overview_sidebar' %>
<div id="content">

<h1>New Beneficiary</h1>

<%= render 'form' %>
<div class="button-center">
	<%= link_to 'Back', people_path, :class => "button tiny" %>
</div>
</div>
