/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require responsive-tables
 *= require_tree .
 */

table {
	margin: 0 auto;
}
.button-edit{
	margin: 0 !important;
}
.button-center{
	text-align: center;
}
#notice {
	text-align: center !important;	
}
#off-side {
	background-color: #333;
	position: fixed;
	width: 200px;
	left: -200px;
	top: 45px;
	bottom: 0px;
	height: 100%;
}