@import "side";
@import "base";

body .row {
  max-width: 100%; /* overrides 62.5rem foundation default for app-like full screen */
}
.sharana_logo {
  margin: 0 auto;
  width: 315px;
  height:66px;
  background: url("/images/sharana_logo.png");
}
#notice {
  padding: 20px;
  background-color: #F5F5F5;
  font-size: 15px;
  text-align: center !important;
  color: green;
}

.button {
  background: $color-deco3 !important;
}

#content {
  margin-top: 20px;
  @include box-sizing(border-box);
  padding-right: 10px;
}

.person-picture {
  padding-top: 10px;
}

table {
  margin: 0 auto;
}

.button-edit {
  margin: 0 !important;
}
input.datepicker {
  @extend .icon-edit;
}

.button-center {
  text-align: center;
}

tr[data-link] {
  cursor: pointer;
}

.selectWithOtherField {
  div >input[type="text"] {
    display: none;
    &.active {
      display: block;
    }
  }
}

#searchExistingPeople {
  &.content {
    padding: 0;
  }
}

td a > i {
  padding: 8px;
  color: $color-active;
}
.accordion > dd {border-bottom: 5px solid #fff;}

label.error {
  background-color: red;
  color: #fff !important;
  padding: 5px;
}
