@import "base";

body.sessions-layout {
  background: #000;
  display: table;
  margin: 0 auto;
  .container {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
  }
  .sign-in {
    h1 {
      color: $color-deco1;
    }
    a {
      color: $color-deco1;
    }
  }
}