// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.person-head {
  background: #f4f4f4;
  position: relative;
}
#amount-to-date {
  position: absolute;
  right: 20px;
  top: 20px;
  .button-group {
    &.hidden {
      display: none;
    }
    li:last-child {
      a.button {
        background: #fff!important;
        color: #000!important;
        font-weight: bold!important;
      }
    }
  }
}