<h1 class="text-center">Editing supporter</h1>

<%= render 'form' %>
<div class="button-center">

	<%= link_to 'Show', @supporter, :class => "button tiny" %>
	<%= link_to 'Back', supporters_path, :class => "button tiny" %>
</div>
