<h1>Editing supporter</h1>

<%= render 'form' %>

<script type="text/javascript">
$("#supporterForm").validate({
	rules: {
		'supporter[name]': 			{required: true, minlength: 1},
		'supporter[family_name]': 	{required: true, minlength: 1},
		'supporter[date]': 			{required: true},
		'supporter[street_number]': {required: true, minlength: 1},
		'supporter[street]': 		{required: true, minlength: 1},
		'supporter[city]': 			{required: true, minlength: 1},
		'supporter[zipcode]': 		{required: true, minlength: 1},
		'supporter[country]': 		{required: true, minlength: 1}
	}
	}
);
</script>