<h1 class="text-center">Editing user</h1>

<%= render 'form' %>

<div class="row">
	<div class="small-12 column">
<%= link_to 'Show', @user, :class => "button tiny" %>
<%= link_to 'Back', users_path, :class => "button tiny" %>
	</div>
</div>

