<%= render '/shared/overview_sidebar' %>
<div id="content">
	<h1>New Benefit</h1>
	<%= render 'form' %>
	<div class="row">
		<div class="small-12 column">
			<%= link_to 'Cancel', benefits_path, {class: 'button tiny'} %>
		</div>
	</div>
</div>
